.container {
    width: 100vw;

    @media screen and (min-width: 335px) {
        width: 335px;
        margin: 0 auto;
    }

    @media screen and (min-width: 704px) {
        width: 704px;
        margin: 0 auto;
    }

    @media screen and (min-width: 1216px) {
        width: 1216px;
        margin: 0 auto;
    }
}