@import '~node_modules/modern-normalize/modern-normalize.css';


*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

ul {
  padding: 0;
  margin: 0;
  list-style: none;
}
body {
    font-family: "DM Sans", sans-serif;
    overflow-x: hidden;
    // background-color: #11131F;
}