<section class="choose_dream container">
    <div class="dream_description_block">
    <h2 class="section-title"> <span> Yacht Adventures</span> fleet is here to take you on the ultimate adventure. Each yacht is hand-picked for its comfort, style, and performance.
    </h2>
    <div class="description_div">
        <p class="dream_description">From spacious decks to state-of-the-art technology, our yachts are designed to provide the perfect blend of luxury and functionality. Take a look at our selection below and choose the yacht that matches your needs and preferences.</p>
        <p class="dream_description">No matter which yacht you choose, our experienced crew will ensure that your journey is smooth and enjoyable. Book now and get ready for an unforgettable adventure on the high seas.</p>
    </div>
</div>
    <ul class="yacht-img-list">
        <li>
            <picture class="yacht-photo-1">
                <source media="(min-width: 1216px)" srcset="./images/desktop/yacht-img1.png"/>
                <source media="(min-width: 704px)" srcset="./images/tablet/yacht-img1.png"/>
                <img src="./images/mobile/yacht-img1.png" alt="yacht-photo-1"/>
              </picture>
        </li>
        <li>
            <picture class="yacht-photo-2">
                <source media="(min-width: 704px)" srcset="./images/tablet/yacht-img2.png"/>
                <img src="./images/mobile/yacht-img2.png" alt="yacht-photo-2"/>
              </picture>
        </li>
        <li>
            <img src="./images/mobile/yacht-img3.png" alt="yacht-photo-3">
        </li>
    </ul>
    <div class="rental-div">
    <h3 class="dream_title">
        Choose your dream yacht and sail away into the sunset
    </h3>
    <button class="explore" type="button">Yacht rental</button>
</div>
</section>