<section class="customers container">
  <div class="customers-title-wrap">
    <h2 class="customers-title">
      <span class="customers-title-span">Yacht Adventures</span> take pride in
      <br />
      providing the best possible service <br />
      and experience to our customers
    </h2>
    <h3 class="customers-subtitle">
      Our customers have enjoyed <br />
      unforgettable moments on our yachts. <br />
      Don't just take our word for it - read on <br />
      to find out what they have to say <br />
      about their journey with us.
    </h3>
  </div>
  <ul class="customers-list">
    <li class="customers-item">
      <img
        class="customers-item-img"
        src="./images/desktop/client1.png"
        alt="John Wax"
      />
      <h3 class="customers-item-name">John Wax</h3>
      <p class="customers-item-subtitle">
        I rented the Lagoon 620 with my family for a week-long vacation and it
        was the best decision ever. The yacht was spacious, comfortable, and
        luxurious, and the crew took care of everything.
      </p>
    </li>
    <li class="customers-item">
      <img
        class="customers-item-img"
        src="./images/desktop/client2.png"
        alt="Victoria Romashenko"
      />
      <h3 class="customers-item-name">Victoria Romashenko</h3>
      <p class="customers-item-subtitle">
        The Sunseeker Manhattan 66 was the perfect choice for our romantic
        getaway. The yacht was beautifully designed, with all the amenities we
        needed, and the crew was attentive and friendly.
      </p>
    </li>
    <li class="customers-item">
      <img
        class="customers-item-img"
        src="./images/desktop/client3.png"
        alt="Ihor Trachuk"
      />
      <h3 class="customers-item-name">Ihor Trachuk</h3>
      <p class="customers-item-subtitle">
        The Azimut 80 was the most luxurious yacht I've ever been on. The cabins
        were spacious and elegant, and the outdoor areas were perfect for
        relaxing and entertaining. Worth every penny!
      </p>
    </li>
  </ul>
  <a class="customers-btn" href="#header">
    <svg width="44px" height="44px" class="customers-svg">
      <use href="./images/sprite.svg#icon-arrow-up"></use>
    </svg>
  </a>
</section>
