<hr class="footer-line" />
<footer class="footer container">
  <div class="footer-wrap">
    <a href="#header" class="footer-logo-link">
      <picture class="footer-logo">
        <source
          media="(min-width: 704px)"
          srcset="./images/desktop/desktoplogo.png"
        />
        <img src="./images/mobile/mobilelogo.png" alt="logo" />
      </picture>
    </a>
    <ul class="footer-list">
      <li class="list-item">About</li>
      <li class="list-item">Yachts</li>
      <li class="list-item">Reviews</li>
    </ul>
    <div class="footer-socials-wrap">
      <h2 class="footer-socials-title">We in social</h2>
      <ul class="footer-list-socials">
        <li class="socials-item">
          <a href="https://www.facebook.com/" class="socials-item-link">
            <svg width="40px" height="40px" class="socials-item-svg">
              <use
                href="./images/sprite.svg#icon-facebook"
                class="item-svg-use"
              ></use>
            </svg>
          </a>
        </li>
        <li class="socials-item">
          <a href="https://www.instagram.com/" class="socials-item-link">
            <svg width="40px" height="40px" class="socials-item-svg">
              <use href="./images/sprite.svg#icon-instagram"></use>
            </svg>
          </a>
        </li>
        <li class="socials-item">
          <a href="https://www.youtube.com/" class="socials-item-link">
            <svg width="40px" height="40px" class="socials-item-svg">
              <use href="./images/sprite.svg#icon-youtube"></use>
            </svg>
          </a>
        </li>
      </ul>
    </div>
  </div>
  <div class="footer-copyright">
    <p class="footer-copyright-text">2023. Yacht Adventures</p>
    <p class="footer-copyright-text">Privacy Police</p>
  </div>
</footer>
