<article>
    <header>
        <div class="header-wrap container">
        <img class="mobilelogo" src="./images/desktoplogo.png" alt="logo">
        <img class="desktoplogo" src="./images/mobilelogo.png" alt="logo">
        <ul class="header_list">
            <li class="header_list_item">About</li>
            <li class="header_list_item">Yachts</li>
            <li class="header_list_item">Reviews</li>
        </ul>
        <svg>
            <use href="./images/sprite.svg#icon-menu"></use>
        </svg>
    </div>
</header>
</article>
