<article>
    <header>
        <div class="header-wrap container">
            <picture>
                <source media="(min-width: 704px)" srcset="./images/desktoplogo.png" />
                <img src="./images/mobilelogo.png" alt="logo"/>
              </picture>
        <ul class="header_list">
            <li class="header_list_item">About</li>
            <li class="header_list_item">Yachts</li>
            <li class="header_list_item">Reviews</li>
        </ul>
        <svg>
            <use href="./images/sprite.svg#icon-menu"></use>
        </svg>
    </div>
</header>
</article>
