<section class="photo_gallery container">

    <ul class="photo_gallery_list">
        <li class="photo_gallery_item"><picture class="photo_gallery">
            <source media="(min-width: 1216px)" srcset="./images/desktop/img-diving.jpg"/>
            <source media="(min-width: 704px)" srcset="./images/tablet/img-diving.jpg"/>
            <img src="./images/mobile/img-diving.jpg" alt="photo_gallery" class="photo_gallery_img"/>
          </picture>
          <button type="button" class="gallery-button">Diving</button>
        </li>
        <li class="photo_gallery_item"><picture class="photo_gallery">
            <source media="(min-width: 1216px)" srcset="./images/desktop/img-fishing.jpg"/>
            <source media="(min-width: 704px)" srcset="./images/tablet/img-fishing.jpg"/>
            <img src="./images/mobile/img-fishing.jpg" alt="photo_gallery" class="photo_gallery_img"/>
          </picture>
          <button type="button" class="gallery-button">Fishing</button></li>
        <li class="photo_gallery_item"><picture class="photo_gallery">
            <source media="(min-width: 1216px)" srcset="./images/desktop/img-sunbathing.jpg"/>
            <source media="(min-width: 704px)" srcset="./images/tablet/img-sunbathing.jpg"/>
            <img src="./images/mobile/img-sunbathing.jpg" alt="photo_gallery" class="photo_gallery_img"/>
          </picture>
          <button type="button" class="gallery-button">Sunbathing</button></li>
    </ul>

</section>