<section class="rent container">
  <h2 class="rent-title">Rent a yacht now</h2>
  <div class="rent-wrap">
    <img class="rent-img" src="./images/desktop/rent-yacht.jpg" alt="yacht" />
    <form class="rent-form">
      <label class="rent-form-label">Full Name</label>
      <input type="text" class="rent-form-input" name="fname" />
      <label class="rent-form-label">Email</label>
      <input type="email" class="rent-form-input" name="email" />
      <label class="rent-form-label">Phone number</label>
      <input type="tel" class="rent-form-input" name="number" />
      <label class="rent-form-label rent-form-comment">Comment</label>
      <textarea
        name="textarea"
        class="rent-form-input"
        spellcheck="false"
        rows="2"
        cols="41"
      ></textarea>
      <br />
      <button class="rent-form-submit">
        <input class="rent-submit-input" type="submit" value="Send" />
        <svg class="rent-svg" width="40" height="40">
          <use href="./images/sprite.svg#icon-arrow_right"></use>
        </svg>
      </button>
    </form>
  </div>
  <div class="ellipse-wrap">
    <img src="./images/ellipse-rent.png" alt="" />
  </div>
</section>
