<section class="slider-section container">
<div class="desktop">
  <button class="prev-desk">
    <svg class="left-arrow-desk">
      <use href="./images/sprite.svg#icon-arrow_left"></use>
    </svg>
  </button>

    <div class="slider">
      <div class="slide">
        <img src="./images/yacht_arrow.png" alt="yacht image" />
        <div class="slide-content">
        <div class="name-type-wrap">
          <h3 class="yacht-name">Arrow</h3>
          <p class="type-of-yacht">LUXURY YAHTS</p>
        </div>
        <div class="slider-lists">
        <ul class="characteristic-name">
          <li><p class="slider-li">LENGTH</p></li>
          <li><p class="slider-li">BUILDER</p></li>
          <li><p class="slider-li">BUILT</p></li>
          <li><p class="slider-li">GUESTS</p></li>
          <li><p class="slider-li">PRICE</p></li>
        </ul>
        <ul class="yacht-characteristics">
          <li><p class="slider-li">48m(155ft)</p></li>
          <li><p class="slider-li">Admiral</p></li>
          <li><p class="slider-li">2021</p></li>
          <li><p class="slider-li">11 in 5 cabins</p></li>
          <li><p class="slider-li">€33,500,000</p></li>
        </ul></div></div>
      </div>

      <div class="slide">
        <img src="./images/yacht_oasis.png" alt="yacht image" />
        <div class="slide-content">
        <div class="name-type-wrap">
          <h3 class="yacht-name">BENETTI OASIS 40M...</h3>
          <p class="type-of-yacht">LUXURY YAHTS</p>
        </div>
        <div class="slider-lists">
        <ul class="characteristic-name">
          <li><p class="slider-li">LENGTH</p></li>
          <li><p class="slider-li">BUILDER</p></li>
          <li><p class="slider-li">BUILT</p></li>
          <li><p class="slider-li">GUESTS</p></li>
          <li><p class="slider-li">PRICE</p></li>
        </ul>
        <ul class="yacht-characteristics">
          <li><p class="slider-li">41m (133ft)</p></li>
          <li><p class="slider-li">Benetti</p></li>
          <li><p class="slider-li">2025</p></li>
          <li><p class="slider-li">10 in 5 cabins</p></li>
          <li><p class="slider-li">€23,210,000</p></li>
        </ul></div></div>
      </div>

      <div class="slide">
        <img src="./images/yacht_belle.png" alt="yacht image" />
        <div class="slide-content">
        <div class="name-type-wrap">
          <h3 class="yacht-name">BELLE ANNA</h3>
          <p class="type-of-yacht">LUXURY YAHTS</p>
        </div>
        <div class="slider-lists">
        <ul class="characteristic-name">
          <li><p class="slider-li">LENGTH</p></li>
          <li><p class="slider-li">BUILDER</p></li>
          <li><p class="slider-li">BUILT</p></li>
          <li><p class="slider-li">GUESTS</p></li>
          <li><p class="slider-li">PRICE</p></li>
        </ul>
        <ul class="yacht-characteristics">
          <li><p class="slider-li">50m(155ft)</p></li>
          <li><p class="slider-li">ISA</p></li>
          <li><p class="slider-li">2012</p></li>
          <li><p class="slider-li">12 in 6 cabins</p></li>
          <li><p class="slider-li">€21,000,000</p></li>
        </ul></div></div>
      </div>

      <div class="slide">
        <img src="./images/yacht_ellen.png" alt="yacht image" />
        <div class="slide-content">
        <div class="name-type-wrap">
          <h3 class="yacht-name">Ellen</h3>
          <p class="type-of-yacht">LUXURY YAHTS</p>
        </div>
        <div class="slider-lists">
        <ul class="characteristic-name">
          <li><p class="slider-li">LENGTH</p></li>
          <li><p class="slider-li">BUILDER</p></li>
          <li><p class="slider-li">BUILT</p></li>
          <li><p class="slider-li">GUESTS</p></li>
          <li><p class="slider-li">PRICE</p></li>
        </ul>
        <ul class="yacht-characteristics">
          <li><p class="slider-li">40m (132ft)</p></li>
          <li><p class="slider-li">Perini Navi</p></li>
          <li><p class="slider-li">2001 / 2016 (refitted)</p></li>
          <li><p class="slider-li">9 in 4 cabins</p></li>
          <li><p class="slider-li">€9,300,000</p></li>
        </ul></div></div>
      </div>

      <div class="slide">
        <img src="./images/yacht_mirage.png" alt="yacht image" />
        <div class="slide-content">
        <div class="name-type-wrap">
          <h3 class="yacht-name">MIRAGE 401</h3>
          <p class="type-of-yacht">LUXURY YAHTS</p>
        </div>
        <div class="slider-lists">
        <ul class="characteristic-name">
          <li><p class="slider-li">LENGTH</p></li>
          <li><p class="slider-li">BUILDER</p></li>
          <li><p class="slider-li">BUILT</p></li>
          <li><p class="slider-li">GUESTS</p></li>
          <li><p class="slider-li">PRICE</p></li>
        </ul>
        <ul class="yacht-characteristics">
          <li><p class="slider-li">38m (125ft)</p></li>
          <li><p class="slider-li">Gianetti Custom Yachts</p></li>
          <li><p class="slider-li">2024</p></li>
          <li><p class="slider-li">10 in 5 cabins</p></li>
          <li><p class="slider-li">€13,500,000</p></li>
        </ul></div></div>
      </div>

      <div class="slide">
        <img src="./images/yacht_king.png" alt="yacht image" />
        <div class="slide-content">
        <div class="name-type-wrap">
          <h3 class="yacht-name">KING</h3>
          <p class="type-of-yacht">LUXURY YAHTS</p>
        </div>
        <div class="slider-lists">
        <ul class="characteristic-name">
          <li><p class="slider-li">LENGTH</p></li>
          <li><p class="slider-li">BUILDER</p></li>
          <li><p class="slider-li">BUILT</p></li>
          <li><p class="slider-li">GUESTS</p></li>
          <li><p class="slider-li">PRICE</p></li>
        </ul>
        <ul class="yacht-characteristics">
          <li><p class="slider-li">32m (105ft)</p></li>
          <li><p class="slider-li">SanLorenzo</p></li>
          <li><p class="slider-li">2019</p></li>
          <li><p class="slider-li">11 in 5 cabins</p></li>
          <li><p class="slider-li">€7,800,000</p></li>
        </ul></div></div>
      </div>

      <div class="slide">
        <img src="./images/yacht_salt.png" alt="yacht image" />
        <div class="slide-content">
        <div class="name-type-wrap">
          <h3 class="yacht-name">SALT</h3>
          <p class="type-of-yacht">LUXURY YAHTS</p>
        </div>
        <div class="slider-lists">
        <ul class="characteristic-name">
          <li><p class="slider-li">LENGTH</p></li>
          <li><p class="slider-li">BUILDER</p></li>
          <li><p class="slider-li">BUILT</p></li>
          <li><p class="slider-li">GUESTS</p></li>
          <li><p class="slider-li">PRICE</p></li>
        </ul>
        <ul class="yacht-characteristics">
          <li><p class="slider-li">32m (105ft)</p></li>
          <li><p class="slider-li">SanLorenzo</p></li>
          <li><p class="slider-li">2019</p></li>
          <li><p class="slider-li">11 in 5 cabins</p></li>
          <li><p class="slider-li">€7,800,000</p></li>
        </ul></div></div>
      </div>

      <div class="slide">
        <img src="./images/yacht_storm.png" alt="yacht image" />
        <div class="slide-content">
        <div class="name-type-wrap">
          <h3 class="yacht-name">STORM</h3>
          <p class="type-of-yacht">LUXURY YAHTS</p>
        </div>
        <div class="slider-lists">
        <ul class="characteristic-name">
          <li><p class="slider-li">LENGTH</p></li>
          <li><p class="slider-li">BUILDER</p></li>
          <li><p class="slider-li">BUILT</p></li>
          <li><p class="slider-li">GUESTS</p></li>
          <li><p class="slider-li">PRICE</p></li>
        </ul>
        <ul class="yacht-characteristics">
          <li><p class="slider-li">32m (103ft)</p></li>
          <li><p class="slider-li">Overmarine</p></li>
          <li><p class="slider-li">2005 / 2022 (refitted)</p></li>
          <li><p class="slider-li">9 in 4 cabins</p></li>
          <li><p class="slider-li">€2,900,000</p></li>
        </ul></div></div>
      </div>

      <div class="slide">
        <img src="./images/yacht_collu.png" alt="yacht image" />
        <div class="slide-content">
        <div class="name-type-wrap">
          <h3 class="yacht-name">COLLU</h3>
          <p class="type-of-yacht">LUXURY YAHTS</p>
        </div>
        <div class="slider-lists">
        <ul class="characteristic-name">
          <li><p class="slider-li">LENGTH</p></li>
          <li><p class="slider-li">BUILDER</p></li>
          <li><p class="slider-li">BUILT</p></li>
          <li><p class="slider-li">GUESTS</p></li>
          <li><p class="slider-li">PRICE</p></li>
        </ul>
        <ul class="yacht-characteristics">
          <li><p class="slider-li">29m (96ft)</p></li>
          <li><p class="slider-li">Ferretti</p></li>
          <li><p class="slider-li">2014</p></li>
          <li><p class="slider-li">10 in 5 cabins</p></li>
          <li><p class="slider-li">$4,300,000</p></li>
        </ul></div></div>
      </div>
    </div>

    <button class="next-desk">
      <svg class="right-arrow-desk">
        <use href="./images/sprite.svg#icon-arrow_right"></use>
      </svg>
    </button>

</div>


    <div class="controll-buttons">
    <button class="prev">
      <svg class="left-arrow">
        <use href="./images/sprite.svg#icon-arrow_left"></use>
      </svg>
    </button>
    <button class="next">
      <svg class="right-arrow">
        <use href="./images/sprite.svg#icon-arrow_right"></use>
      </svg>
    </button>
  </div>
</section>