<section class="slider-section container">
  <div class="slider-container">
    <div class="slider">
      <div class="slide">
        <img src="./images/yacht_arrow.png" alt="yacht image" />
      </div>
      <div class="slide">
        <img src="./images/yacht_oasis.png" alt="yacht image" />
      </div>
      <div class="slide">
        <img src="./images/yacht_belle.png" alt="yacht image" />
      </div>
      <div class="slide">
        <img src="./images/yacht_ellen.png" alt="yacht image" />
      </div>
      <div class="slide">
        <img src="./images/yacht_mirage.png" alt="yacht image" />
      </div>
      <div class="slide">
        <img src="./images/yacht_king.png" alt="yacht image" />
      </div>
      <div class="slide">
        <img src="./images/yacht_salt.png" alt="yacht image" />
      </div>
      <div class="slide">
        <img src="./images/yacht_storm.png" alt="yacht image" />
      </div>
      <div class="slide">
        <img src="./images/yacht_collu.png" alt="yacht image" />
      </div>
    </div>
    <button class="prev" onclick="moveSlide(-1)">←</button>
    <button class="next" onclick="moveSlide(1)">→</button>
  </div>
</section>
